.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }


  .card-title {
    background-color: #110c45;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 96%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .card-title:hover {
    background-color: rgb(116, 98, 18);
  }

  .card-content {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

.sub-content{
  padding-left: 80px;
  padding-right: 80px;
}