.style{
    background-image: url('');
    background-size: cover;
    background-position: center ;
    padding: 20px;
}

.header{
  background-color:  rgb(24, 24, 72);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pages a {
    text-transform: uppercase;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
    font-size: 14px;
    color: aliceblue;
    transition: 0.2s ease-in;
}

.pages a:hover {
    color: #f2f200 ;
}

a {
    text-decoration: none;
}

.logo {
     width: 700px;
     height: 200px;
    text-shadow: black;
}

.footer{
    background-color: rgb(24, 24, 72);
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    position: relative;

    
}

.icons{
    display: flex;
    flex-direction: row;
    color:blanchedalmond;
    justify-content:space-between;
    margin-left:100 ;
    margin-right: 100px;
    margin-bottom: 5px;
    margin-top: 30px;
    padding: 25px;
    size: 800px;
}

.images{
    width: 1500px;
    height: 400px;
}
