.upcoming-events{
    padding: 20px 0px;
}

section{
    display: block;
}

*, *::before, *::after{
    box-sizing: border-box;
}

.past-events{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.events-container{
    background-color: rgb(26, 26, 94);
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 10px 0px;
}

.events-image-container{
    height: 203.366px;
    width: 50%;
}

.events-details{
    padding: 10px 10px;
}

.text-white{
    color: #fff !important;
}

.events-font{
    text-align: center;
    font-size: 30px;
    color: rgb(41, 41, 122);
    text-shadow: yellow;
}

.events-font-p{
    font-size: 20px;
    text-align: center;
}