.content-research{
    padding-left: 70px;
    padding-right: 70px;
}

.research-paragrphs{
    font-size: 20px;
}

.balme_library{
    align-content: center;
    height: 200px;
    width: 300px;
}

.image-margins{
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
}